.container{
    border: 5px solid green;
    border-radius: 2px;
    background-image: url(./image.jpg);
    height: auto;
}
.ele1{
    border: 5px solid red;
    border-radius: 30px;
    background-color: black;
    color: white;
    height: 50%;
    width: 50%;
    margin: 20px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: larger;
}
.cir{
    border: 5px solid grey;
    background-color: skyblue;
    border-radius: 50%;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    height: 250px;
    width: 250px;
    padding: 20px; 
    margin-right: 250px;
    margin-left: 90px;
    margin-top: 150px;  
}
.form{
    border: 5px dashed red;
    color: lightpink;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    width: 300px;
    background-color: white;
}
.container1{
    border: 5px solid lightgreen;
    border-radius: 2px;
    display: flex;
    border-bottom: 0px;
}
.container2{
    border: 5px solid lightgreen;
    border-radius: 2px;
    display: flex;
    border-top: 0px;  
    border-bottom: 0px;  
}
.container3{
    border: 5px solid lightgreen;
    margin: auto;
    display: flex;
    border-top: 0px; 
    border-bottom: 0px;
    padding-left: 450px; 
    
}
.container4{
    display: flex;
    border: 5px solid lightgreen;
    border-top: 0px; 
    border-bottom: 0px; 
    margin-top: -20px;
    padding-top: 20px;
}
.container5{
    display: flex;
    border: 5px solid lightgreen;
    border-top: 0px;  
    
}
.ele2{
    border: 2px solid green;
    background-color: rgb(2, 245, 233);
    color: rgb(4, 86, 107);
    border-radius: 20px;;
    height: 50%;
    width: 50%;
    margin: 20px;
    text-align:center;
    padding: 20px;
    
}
.menu{
    border: 5px solid red;
    border-radius: 30px;
    background-color: black;
    color: white;
    width: 40%;
    margin: 20px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: larger;
}
li{
    text-align:justify;
}